html,
body {
  height: 100%;
  padding-top : 30px;
}

body {
  display: flex;
  background-color: #F5F7FA;
}

.pointer:hover{
    cursor: pointer;
}

.hide{
    display: none;
}

th:first-letter {
    text-transform:capitalize;
}

.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }
